@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  /* components/RevealText.module.css */
.reveal-text {
  opacity: 0;
  transition: opacity 0.3s ease-in-out; /* Adjust duration and timing function as needed */
}

.reveal-text.revealed {
  opacity: 1;
}

